[Desktop Entry]
Version=1.0
Name=Fitecash Core
Comment=Connect to the Fitecash P2P Network
Comment[de]=Verbindung mit dem Fitecash Peer-to-Peer-Netzwerk herstellen
Comment[es]=Conectar a la red P2P de Fitecash
Comment[fr]=Se connecter au réseau pair à pair Fitecash
GenericName=Cryptocurrency Wallet
Exec=fitecash-qt %u
Terminal=false
Type=Application
Icon=fitecash128
MimeType=x-scheme-handler/fitecash;
Categories=Office;Finance;Network;
Keywords=fitecash;crypto;cryptocurrency;wallet;blockchain;
StartupNotify=true
StartupWMClass=Fitecash-qt
